.container{
    width: 800px;
    height: 700px;
    margin: 10vh auto;
    border-radius: 10px;
}

.tab-wrap{
    display: flex;
    align-items: baseline;
    width: 100%;
    height: 70px;
    .tab{
        cursor: pointer;
        width: 33.333%;
        height: 40px;
        border-radius: 10px 10px 0px 0px ;
        &:last-child{
            border-width: 3px;
        }
        &.selected{
            height: 70px;
        }
        &.green{
            background-color: greenyellow;
        }
        &.red{
            background-color: orange;
        }
        &.blue{
            background-color: skyblue;
        }
    }
}

.content{
    background-color: bisque;
    height: 100%;
    width: 100%;
}