body{
    margin: 0;
    padding: 0;
}

.card{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    /* 3Dにする宣言 */
    transform-style: preserve-3d;
    /* 奥行きの宣言 */
    perspective: 600px;
    transition: .5s;
    &:hover .card-front{
        transform: rotateY(-180deg);
    }
    &:hover .card-back{
        transform: rotate(0);
    }
    .card-back, .card-front{
        border-radius: 50%;
    }
    .card-front{
        height: 100%;
        width: 100%;
        background-image: url(https://www.seikowatches.com/jp-ja/products/seikoselection/special/pokemon/assets/image/main_pb.png);
        background-position: 50% 50%;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #000000;
        /* 背後の面を表示させるかの宣言 */
        backface-visibility: hidden;
        transform: rotateY(0deg);
        transition: .5s;
    }
    
    .card-back{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #000000;
        backface-visibility: hidden;
        transform: rotateY(180deg);
        transition: .5s;
        color: #ffffff;
        text-align: center;
        h2{
            margin: 60% auto 35% auto;
            font-size: 26px;
            span{
                font-size: 20px;
            }
        }
    }
}