@charset "UTF-8";
body {
  position: relative;
  margin: 0 auto;
  padding: 0;
}

.wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  margin-top: 30vh;
}

.card {
  position: relative;
  height: 350px;
  width: 250px;
  /* 3Dにする宣言 */
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  /* 奥行きの宣言 */
  -webkit-perspective: 600px;
          perspective: 600px;
  -webkit-transition: .8s;
  transition: .8s;
}

.card.flip .card-front {
  -webkit-transform: rotateY(-900deg);
          transform: rotateY(-900deg);
}

.card.flip .card-back {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.card.red .card-front {
  background-color: orange;
}

.card.red .card-back {
  background-image: url(https://img.game8.jp/2216364/e82e33bebed47a64babbd272250a517d.png/show?1540444326), url(https://i.pinimg.com/originals/21/ca/38/21ca3809fa917c5568ffa3e8f336dda2.gif);
}

.card.blue .card-front {
  background-color: skyblue;
}

.card.blue .card-back {
  background-image: url(https://img.game8.jp/2216351/00747699ec8b72ae970e08c726034d64.png/show?1540444326), url(https://blogimg.goo.ne.jp/user_image/2f/f6/534bdace8420abb491d3b095fc079ed5.gif);
}

.card.green .card-front {
  background-color: greenyellow;
}

.card.green .card-back {
  background-image: url(https://img.game8.jp/2216353/f3382d68e4a59ed6f549647f718add7a.png/show?1540444326), url(https://i.pinimg.com/originals/12/17/66/12176602ec8f269301c5c799a96000d9.gif);
}

.card .card-front, .card .card-back {
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
}

.card .card-front {
  height: 100%;
  width: 100%;
  background-image: url(https://www.seikowatches.com/jp-ja/products/seikoselection/special/pokemon/assets/image/main_pb.png);
  background-position: 50% 50%;
  background-size: contain, fill;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  /* 背後の面を表示させるかの宣言 */
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transition: .8s;
  transition: .8s;
}

.card .card-back {
  height: 100%;
  width: 100%;
  background-position: 50% 50%, 50% -30%;
  background-size: contain, cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: rotateY(900deg);
          transform: rotateY(900deg);
  -webkit-transition: .8s;
  transition: .8s;
  color: #ffffff;
  text-align: center;
}

.card .card-back h2 {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  font-size: 26px;
}

.card .card-back h2 span {
  font-size: 20px;
}
/*# sourceMappingURL=style.css.map */